<div id="cat">
    <H4>CATEGORIE:  </H4>
    <img src="../../assets/images/pizzanorm.jpg" (click)="invia('Normale')" title="Pizze normali" class="rounded float-start" alt="Pizze normali" >
    <img src="../../assets/images/pizzaNoLatt.jpg" (click)="invia(false)" title="Pizze senza lattosio" class="rounded" alt="Pizze senza lattosio" >
    <img src="../../assets/images/integrale.jpg" (click)="invia('integrale')" title="Pizze integrali" class="rounded" alt="Pizze integrali" >
    <img src="../../assets/images/kamuth.jpg" (click)="invia('kamuth')" title="Pizze con impasto kamuth" class="rounded " alt="Pizze con impasto kamuth" >
</div>
